@import "tailwindcss";

@theme {
  --color-poke-grass: #2d8021;
  --color-poke-fire: #b32a12;
  --color-poke-water: #1178a8;
  --color-poke-bug: #5b8700;
  --color-poke-normal: #6e6f6e;
  --color-poke-poison: #662d8f;
  --color-poke-electric: #a88a00;
  --color-poke-ground: #663917;
  --color-poke-fairy: #bd3e99;
  --color-poke-fighting: #b36b00;
  --color-poke-psychic: #a62d54;
  --color-poke-rock: #7a765a;
  --color-poke-ghost: #4d2d4d;
  --color-poke-ice: #2a8eab;
  --color-poke-dragon: #38439e;
  --color-poke-dark: #453637;
  --color-poke-steel: #437080;
  --color-poke-flying: #5a81a8;
}

body {
  background-color: #f8fafc;
  color: #0f172a;
}

.glass-panel {
  @apply bg-white/70 backdrop-blur-xl border border-white/40 shadow-lg;
}

.type-badge {
  @apply px-3 py-1 rounded-full text-xs font-bold text-white uppercase tracking-wider shadow-sm;
}
